# List and its default functions

# 1.append():

In [2]:
A=[1,2,3,4,5]
print(A)

[1, 2, 3, 4, 5]

In [8]:
A=[1,2,3,4,5]
print(A)

[1, 2, 3, 4, 5]

In [9]:
A.append(6)
print(A)

[1, 2, 3, 4, 5, 6]

# 2.Extend():

In [11]:
lst=["ironman","thor","hulk"]
lst.extend("captain")

In [12]:
lst

['ironman', 'thor', 'hulk', 'c', 'a', 'p', 't', 'a', 'i', 'n']

In [17]:
lst2=["dell","lenova","apple","hp"]
lst2.extend("asus")

In [18]:
lst2

['dell', 'lenova', 'apple', 'hp', 'a', 's', 'u', 's']

### 3.Count():

In [19]:
L1=[1,2,3,4,4,1,1,1,3,1,3,1]
L1.count(1)

6

In [20]:
L1.count(4)

2

# 4.Index():

In [21]:
L2=[10,20,30,40,50,60,70,]
L2.index(30)

2

In [22]:
L2.index(60)

5

# 5. Max and Min:

In [23]:
L3=["aa","aaz","z","ada"]
max(L3)

'z'

In [24]:
L4=["aa","aaz"]
min(L4)

'aa'

# Dictionary and its default functions

#  1.copy():

In [25]:
port1={20:"ftp",23:"telnet",80:"web protocol"}
port2={52:"dns",22:"secure shell"}

In [26]:
port2=port1
print(port2)

{20: 'ftp', 23: 'telnet', 80: 'web protocol'}

In [28]:
port3=port2.copy()
print(port3)

{20: 'ftp', 23: 'telnet', 80: 'web protocol'}

# 2.key()

In [30]:
port1.keys()

dict_keys([20, 23, 80])

In [32]:
port2={52:"dns",22:"secure shell"}
port2.keys()

dict_keys([52, 22])

#  3.Values():

In [33]:
port1

{20: 'ftp', 23: 'telnet', 80: 'web protocol'}

In [34]:
port2

{52: 'dns', 22: 'secure shell'}

In [36]:
print(port1.values())

dict_values(['ftp', 'telnet', 'web protocol'])

# 4.item():

In [38]:
port1.items()

dict_items([(20, 'ftp'), (23, 'telnet'), (80, 'web protocol')])

In [39]:
port2.items()

dict_items([(52, 'dns'), (22, 'secure shell')])

# 5. Update():

#

In [40]:
port1

{20: 'ftp', 23: 'telnet', 80: 'web protocol'}

In [41]:
port2

{52: 'dns', 22: 'secure shell'}

In [42]:
port3={443:"https",3306:"mysql"}
port1.update(port3)

In [43]:
print(port3)

{443: 'https', 3306: 'mysql'}

In [44]:
print(port1)

{20: 'ftp', 23: 'telnet', 80: 'web protocol', 443: 'https', 3306: 'mysql'}

#  Tuples and explore default methods

# 1.Count():

In [45]:
t1=(2,3,4,2,1,1,1,4,5,3,2,2,5,6,7,)
t1.count(1)

3

In [46]:
t1.count(2)

4

# 2.Index():

In [47]:
t1.index(5)

8

In [48]:
t1.index(7)

14

In [49]:
t1.index(5)

8

#  3.Max():

In [51]:
max(t1)

7

In [52]:
tup1=(2,4,5,6,7,87,66)
max(tup1)

87

# 4.Min():

In [53]:
tup2=(1,2,4,5,6,34,56,77,89,7,45,33)
min(tup2)

1

In [54]:
tup3=(33,45,67,85,78)
min(tup3)

33

#  string and explore default methods

# 1.Count():

In [55]:
str1="What we think we become"
str1.count("we")

2

In [56]:
str1.count("we",0,15)

1

# 2.Find():

In [57]:
str1.find("we")

5

In [59]:
str1[5]

'w'

# 3.Lower():

In [60]:
str2="PROGRAM"
str2.lower()

'program'

In [61]:
str3="PYTHON"
str3.lower()

'python'

#  4.title():

In [62]:
str1.title()

'What We Think We Become'

#  5.capitalized():

In [63]:
str1

'What we think we become'

In [65]:
str1.capitalize()

'What we think we become'

In [66]:
str5="we are indians"
str5.capitalize()

'We are indians'

# sets and explore default methods

# 1.Add():

In [67]:
fruits={"apple","banana","cherry"}
fruits.add("orange")

In [68]:
print(fruits)

{'orange', 'apple', 'cherry', 'banana'}

# 2.Clear():

In [69]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [70]:
fruits.clear()
print(fruits)

set()

# 3.Copy():

In [71]:
fruits

set()

In [72]:
fruits={'apple', 'banana', 'cherry', 'orange'}

In [76]:
x={"watermelon","blueberry"}

In [77]:
x

{'blueberry', 'watermelon'}

In [78]:
x=fruits.copy()

In [79]:
print(x)

{'orange', 'apple', 'cherry', 'banana'}

# 4.difference():

In [80]:
x={'apple', 'banana', 'cherry'}
y={"google","microsoft","apple"}
z=x.difference(y)
print(z)

{'cherry', 'banana'}

# 5.discard():

In [81]:
fruits={"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}